{% extends "layout.html" %}

{% block title %} Registration {% endblock %}

{% block content %}
<h1>Registration</h1>
  {% if message %}
    <div> {{ message }} </div>
  {% endif %}
  <form action="{% url 'registration' %}" method="post">
    {% csrf_token %}
    <input name="username" type="text" placeholder="username"/>
    <input name="password" type="password" placeholder="password"/>
    <input name="email" type="text" placeholder="email"/>
    <input type="submit" value="Register"/>
  </form>
{% endblock %}
